 <?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Internet Permission -->
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <!-- Required Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />


    <!-- Additional Permissions (if needed) -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- <uses-permission android:name="android.permission.READ_PHONE_STATE" /> -->

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="SheSafe"
        android:roundIcon="@drawable/app_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.WomenSafetyApp"
        tools:targetApi="34">

        <!-- Splash Activity (Launcher) -->
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Login Activity -->
        <activity
            android:name=".LoginActivity"
            android:exported="false" /> <!-- Not accessible externally -->

        <!-- Registration Activity -->
        <activity
            android:name=".RegistrationActivity"
            android:exported="false" /> <!-- Not accessible externally -->

        <!-- Dashboard Activity -->
        <activity
            android:name=".DashboardActivity"
            android:exported="false" /> <!-- Not accessible externally -->

        <service
            android:name=".FloatingWindowService"
            android:enabled="true"
            android:exported="true" />

    </application>

</manifest>